body {
    margin: 0;
}
.category-con {
    width: 30%;
    height: 500px;
    display: inline-block;
    position: relative;
    text-align: center;
    border: 1px solid;
}

.category-con:hover {
    cursor: pointer;
    /* filter:blur(4px); */
}

.category-name {
    position: absolute;
    top: 50%;
}

.category-name:hover {
    filter: blur(0px);
}
