body {
    margin: 0;
}
.category-con {
    width: 30%;
    height: 500px;
    display: inline-block;
    position: relative;
    text-align: center;
    border: 1px solid;
}

.category-con:hover {
    cursor: pointer;
}

.category-name {
    position: absolute;
    top: 50%;
}

.category-name:hover {
    filter: blur(0px);
}


.navbar {
    width: 100%;
    height: 50px;
    border: 1px solid;
}

.searchbar {
    margin-top: 15px;
    margin-left: 200px;
}

.item-info {
    display: inline-block;
}

.item-img {
    display: inline-block;
}